article {
  border: none;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

article img {
  max-width: 100%;
}

.btn {
  font-family: "Josefin Sans", sans-serif;
  padding: 10px 10px;
  border-radius: 0;
  color: rgb(136, 109, 255);
  border: 1px solid rgb(136, 109, 255);
  background-color: transparent;
  width: 50%;
}

.btn2 {
  background-color: rgb(136, 109, 255);
  color: white;
  border: 1px solid rgb(136, 109, 255);
  padding: 10px 10px;
}

.text {
  padding: 20px;
}
